#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}